<div class="container">
  <div class="row">
    <h1>Dragons App</h1>
  </div>
  <div class="row">
    <div class="input-field col offset-s3 s6">
      <input id="username" type="text" class="validate">
      <label for="username">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col offset-s3 s6">
      <input id="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="col offset-s3 s6">
      <a class="waves-effect waves-light btn">Login</a>
    </div>
  </div>
</div>
